<style>
.mdl-grid {
    padding: 0;
};
.mdl-grid > div {
    border: 1px grey solid;
};
</style>
<div class="mdl-grid" style="height: calc(95% - 64px);">
    <qpon-tags class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet"></qpon-tags>
    <button class="mdl-button mdl-shadow--16dp mdl-js-ripple-effect mdl-js-button mdl-button--accent mdl-color mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet"
        style="border-right: 0; padding: 20% 2.5%;"
        (click)="showNext(-1);">
        <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <span class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-grid" style=" overflow-y: auto;">
        <qpon-article-preview *ngFor="let article of articlesToShow" [articleName]="article.name"
            class="mdl-cell mdl-cell--6-col">
            <qpon-article-preview-title>{{article.title}}</qpon-article-preview-title>
            <qpon-article-preview-content>{{article.preview}}</qpon-article-preview-content>
        </qpon-article-preview>
    </span>
    <button class="mdl-button mdl-shadow--16dp mdl-js-ripple-effect mdl-js-button mdl-button--accent mdl-color mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet"
        style="border-left: 0; padding: 20% 2.5%;"
        (click)="showNext(1);">
        <i class="material-icons">keyboard_arrow_right</i>
    </button>
</div>
