<style>
.mdl-card__title {
    height: 300px;
    background: url('https://pp.vk.me/c543108/v543108555/cd3e/qiLxt1lO0HU.jpg') center / cover;
}
</style>
<div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          <ng-content select="qpon-article-preview-title"></ng-content>
        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        <ng-content select="qpon-article-preview-content"></ng-content>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-navigation__link" [routerLink]="['/blog/', articleName]">
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Go to article
            </button>
        </a>
    </div>
</div>
